body{
    background-color: white;
    font-family: 'Times New Roman', Times, serif;
    margin: 0px;
}
h1{
    color: black;
    border-style:double;
    border-width: .1em;
    border-color: yellow;
    border-radius: 20px;
    text-shadow: 1px -2px 5px red, -1px 2px 5px yellow;
}
#box1{
    background-color: lightgrey;
    width: 100px;
    height: 100px;
    box-shadow: 3px -3px 5px
}
p{
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}
#p1/* add a hashtag "#" to indicates "id" attribute of the element */{
    color: black;
    border: 3px solid blue
}
#p2{
    color: lime;
    border-left: 3px dotted lime;
    border-top: 3px dashed green;
}
#p3{
    color: yellow
}
#p4{
    box-shadow: 3px -3px 5px
}
#p5{
    box-shadow: 3px 3px 5px
}

.odd/* add a point "." to indicate the "class" attributes of the elements*/{
    color: blue;
}
